<div class="cards-1">

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/Img/tienda-de-libros.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pastel Familiar | Chocolate</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente aliquid eligendi enim fugit laboriosam facilis reprehenderit dolorem. Illum, maiores accusamus?.</p>
          <a href="" class="btn btn-info">Agregar al carrito</a>
        </div>
      </div>
      </div>
</div>