<nav class="navbar navbar-expand-lg navbar-light bg-pink">
  <a class="navbar-brand" href="/"
    ><img src="/Img/biblioteca-en-linea.png" height="27" width="27"
  /></a>
  <a class="text-dark font-size">Pastelería</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="/"
        ><i class="fas fa-home"></i> Inicio</a
      >
      <a class="nav-item nav-link" href="/info"
        ><i class="fas fa-info"></i> Contactanos</a
      >
      <a class="nav-item nav-link" href="/register"><i class="fas fa-registered"></i> Registrate
      </a>
    </div>
  </div>
</nav>
